<div class="palm-dark">
<div class="palm-hasheader">
	<div id="title-chrono" class="palm-header">
		Stopwatch
	</div>
</div>
<div class="palm-header-spacer"></div>
<div style="color: #ffffff; font-size: 80px; margin: 20px auto 60px auto; width: 290px; height: 80px;">
<div id="min" style="float: left; width: 90px;">00</div>
<div id="sep" style="float: left; width: 20px;">:</div>
<div id="sec" style="float: left; width: 90px;">00</div>
<div id="sep" style="float: left; width: 20px;">.</div>
<div id="cent" style="float: left; width: 45px;">0</div>
<div id="milli" style="float: right; width: 25px; font-size: 20px; padding-top: 62px;">00</div>
</div>
<div id="start" x-mojo-element="Button" style="clear: both; float: left; width: 55%;"></div>
<div id="reset" x-mojo-element="Button" style="float: left; width: 45%;"></div>
</div>